@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #ff99cc;
  --color-secondary: #eccc74;
  --color-background: #fff5f9;
  --color-text-main: #1a1a1a;
  --color-surface: #ffffff;
  --color-gold: #e8be62;
  --color-gold-light: #fde1a7;
  --color-pink: #ffa3cf;
  --color-pink-light: #ffd5ea;
  --font-sans: "Inter", "Inter Fallback", ui-sans-serif, system-ui, sans-serif;
}

.fc {
  --fc-border-color: #f3f4f6; /*gray-100*/
  --fc-today-bg-color: var(--color-background);
}
